@keyframes ldio-um8vocsek {
  0% {
    transform: translate(10.620000000000001px, 70.8px) scale(0);
  }
  25% {
    transform: translate(10.620000000000001px, 70.8px) scale(0);
  }
  50% {
    transform: translate(10.620000000000001px, 70.8px) scale(1);
  }
  75% {
    transform: translate(70.8px, 70.8px) scale(1);
  }
  100% {
    transform: translate(130.98px, 70.8px) scale(1);
  }
}
@keyframes ldio-um8vocsek-r {
  0% {
    transform: translate(130.98px, 70.8px) scale(1);
  }
  100% {
    transform: translate(130.98px, 70.8px) scale(0);
  }
}
@keyframes ldio-um8vocsek-c {
  0% {
    background: #000000;
  }
  25% {
    background: #c6c6c6;
  }
  50% {
    background: #555555;
  }
  75% {
    background: #1e1e1e;
  }
  100% {
    background: #000000;
  }
}
.ldio-um8vocsek div {
  position: absolute;
  width: 35.4px;
  height: 35.4px;
  border-radius: 50%;
  transform: translate(70.8px, 70.8px) scale(1);
  background: #000000;
  animation: ldio-um8vocsek 1.7543859649122806s infinite
    cubic-bezier(0, 0.5, 0.5, 1);
}
.ldio-um8vocsek div:nth-child(1) {
  background: #1e1e1e;
  transform: translate(130.98px, 70.8px) scale(1);
  animation: ldio-um8vocsek-r 0.43859649122807015s infinite
      cubic-bezier(0, 0.5, 0.5, 1),
    ldio-um8vocsek-c 1.7543859649122806s infinite step-start;
}
.ldio-um8vocsek div:nth-child(2) {
  animation-delay: -0.43859649122807015s;
  background: #000000;
}
.ldio-um8vocsek div:nth-child(3) {
  animation-delay: -0.8771929824561403s;
  background: #1e1e1e;
}
.ldio-um8vocsek div:nth-child(4) {
  animation-delay: -1.3157894736842104s;
  background: #555555;
}
.ldio-um8vocsek div:nth-child(5) {
  animation-delay: -1.7543859649122806s;
  background: #c6c6c6;
}
.loadingio-spinner-ellipsis-3bw7hi9hozn {
  width: 177px;
  height: 177px;
  display: inline-block;
  overflow: hidden;
  background: rgba(NaN, NaN, NaN, 0);
}
.ldio-um8vocsek {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
.ldio-um8vocsek div {
  box-sizing: content-box;
}
